{% extends "base.html" %}

{% block title %} Adapted Schedule {% endblock %}
{% block css %}

   #day {
      text-align: center;
      font-size: 130%;
      width: 13%;
      background-color: rgb(106, 108, 116);
      border: 2px solid black;
      border-left-width: 1px;
      border-right-width: 1px;
   }

   #div {
      text-align: center;
      font-size: auto;
      width: 13%;
      height: 5%
      background-color: #E8E8E8;
      border: 2px solid light-grey;
      border-left-width: 1px;
      border-right-width: 1px;
   }


{% endblock %}



{% block content %}

   <span style="display: flex; margin-left: 4.5%;">
      <strong id = "day"; style="border-left-width: 2px;">Sunday</strong>
      <strong id = "day">Monday</strong>
      <strong id = "day">Tuesday</strong>
      <strong id = "day">Wednesday</strong>
      <strong id = "day">Thursday</strong>
      <strong id = "day">Friday</strong>
      <strong id = "day"; style="border-right-width: 2px;">Saturday</strong>
   </span>



<script>
   function event_to_calender(event) {
      if (event != null) {
         let div = document.createElement('div');
         div.innerHTML = `<div style="background-color: ${event["color"]}"> sleep</div>`
         main = document.getElementById('group');
         main.appendChild(div);


      }

      else {
         let div = document.createElement('div');
         div.innerHTML = `<div></div>`
         main = document.getElementById('group');
         main.appendChild(div);
      }
   }


   var earliest_time = 8;
   var latest_time = 15;
   for (let i = earliest_time; i < latest_time;) {
      var Sunday = null
      var Monday = null
      var Tuesday = null
      var Wednesday = null
      var Thursday = null
      var Friday = null
      var Saturday = null



      console.log('{{events | tojson}}');
      for (let event in '{{events}}') {
         if (event["time"] == i){

            if (event["day"] == "Sunday") {
               Sunday = event
            }
            else if (event["day"] == "Monday") {
               Monday = event
            }
            else if (event["day"]== "Tuesday") {
               Tuesday = event
            }
            else if (event["day"] == "Wednesday") {
               Wednesday = event
            }
            else if (event["day"] == "Thursday") {
               Thursday = event
            }
            else if (event["day"] == "Friday") {
               Friday = event
            }
            else {
               Saturday = event
            }
         }

      }
let div = document.createElement('div');
      div.setAttribute('id', 'group')
      container = document.getElementsByClassName('container')[0]
      container.appendChild(div)
      for (const divKey in [Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, Sunday]) {
         event_to_calender(divKey)
      }
         div.style = `display: flex`

      

      i = i + 0.5;
   }



</script>
{% endblock %}