<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Adapted Schedule</title>
      <style>

         #day {
            text-align: center;
            font-size: 130%;
            width: 13%;
            background-color: rgb(168, 168, 168);
            border: 2px solid black;
         }

      </style>
   </head>
   <body>

      <span style="display: flex; margin-left: 4.5%;">
         <strong id = "day">Sunday</strong>
         <strong id = "day">Monday</strong>
         <strong id = "day">Tuesday</strong>
         <strong id = "day">Wednesday</strong>
         <strong id = "day">Thursday</strong>
         <strong id = "day">Friday</strong>
         <strong id = "day">Saturday</strong>
      </span>

   </body>
</html>