<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Adapted Schedule</title>
      <style>
      
         #days {
            background-color: #C5C5C5; 
            border: 2px solid black;
            text-align: center;
            font-size: 3vw;
            width: 95%;
            margin: 2.5%;
            justify-content: space-around;
            display: flex;
         }
      </style>
   </head>
   <body>

      <div id="days">
         <strong>Sunday</strong>
         <strong>Monday</strong>
         <strong>Tuesday</strong>
         <strong>Wednesday</strong>
         <strong>Thursday</strong>
         <strong>Friday</strong>
         <strong>Saturday</strong>
      </div>

   </body>
</html>