{% extends "base.html" %}

{% block title %}Input Events{% endblock %}
{% block css %}
label {font-size: large; color: black;}
div {text-align: center;}
input {
  width: 90%;
    background-color: #C5C5C5;
border-style:solid;
margin-bottom: 15px;
border-radius: 5px;

}
input[type="checkbox"]{
    width: 5%;}
h5 {padding-top:  30px;
    text-align: center;}
input[type="button"]{
margin-bottom: 15px;
background-color: #d4d4d4;
}
input[type="color"]{
width: 25%;
background-color: #736e6e;
}
input[type="submit"]{
background-color: #736e6e;
}
div{
text-align: center;
padding: 12 px}
{% endblock %}

{%  block content %}
<form method="POST">
    <input type="hidden" id="sectioncount" name="sections" value=0>
    <div id="section-container">
    </div>
    <input type="button" onclick=addSection() value="Add event">
    <input type="submit" value="Submit">

</form>

<!-- code for adding row from: https://mattstauffer.com/blog/a-little-trick-for-grouping-fields-in-an-html-form/ -->
<script>
    let i = 0;
    let a = true;
function addSection () {

    let template = `<div id="section ${i}" style="border:2px solid black; border-radius: 25px; background-color: black; margin-bottom: 15px">
<h5 style="display: inline;">Event ${i + 1} </h5> <input type="button" onclick=removeSection(this) value="Remove section" name="${i}" style="width: fit-content; background-color: black" > <br>

    <label for="${i}/start">Start</label><br>
    <input type="datetime-local" id="${i}/start" name="${i}/start" required><br>

    <label for="${i}/end">End</label><br>
    <input type="datetime-local" id="${i}/end" name="${i}/end" required><br>

    <label for="${i}/repeats"> Repeats?</label>
<select id="${i}/repeats" name="${i}/repeats" required>
  <option value="None">Does Not Repeat</option>
  <option value="Daily">Daily</option>
  <option value="Weekly">Weekly</option>
  <option value="Monthly">Monthly</option>

  </select></br>
   <label for="color">Color</label>
    <input type="color" id="${i}/color" name = "${i}/color" onchange="colorChange(this.value, this.name)" value = "#90e4f9">

  <br><label for="${i}/notes">Notes</label><br>
    <input type="text-local" id="${i}/notes" name="${i}/notes" ><br>
</div>`;

    let container = document.getElementById('section-container');
    let div = document.createElement('div');
    div.innerHTML = template;
    container.appendChild(div);
    h = document.getElementById('sectioncount');
    h.value=parseInt(h.value)+1;

    colors = colorChange('#9BE5F8', i)

    i++;
}

    addSection()

    function removeSection(k) {
    i--;
    h = document.getElementById('sectioncount');
    h.value=parseInt(h.value)-1;
            let value = document.getElementById(`section ${k.name}`);
        value.remove();

    var divs = document.getElementsByTagName("div");
        var descendants;
        for (const div of divs) {
            if (div.id.includes("section") && div.id !== "section-container") {
                section_id = parseInt(div.id.split(" ")[1]);
                if(section_id >= i) {
                    descendants = div.children
                    for (const j of descendants) {
                        if (j.name && (j.name.length) > 1) {
                            var type = j.getAttribute("name").split("/")[1];
                            j.setAttribute("name", `${section_id - 1}/${type}`)
                        }


                    }
                    var section = div.querySelector("h5");
                    if (section) {

                        section.innerText = `Event ${section_id}`;

                    }
                }
            }
        }

    }
/* hex to rgb from https://stackoverflow.com/questions/5623838/rgb-to-hex-and-hex-to-rgb*/
    function hexToRgb(hex) {
        var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
        return result ? {
            r: parseInt(result[1], 16),
            g: parseInt(result[2], 16),
            b: parseInt(result[3], 16)
        } : null;
    }

    /* rgb to hsl from https://www.30secondsofcode.org/js/s/rgb-hex-hsl-hsb-color-format-conversion/ */
        function rgbToHsl(a) {
            r = a['r']/255;
            g = a['g']/255;
            b = a['b']/255;
            const l = Math.max(r, g, b);
            const s = l - Math.min(r, g, b);
            const h = s
                ? l === r
                    ? (g - b) / s
                    : l === g
                        ? 2 + (b - r) / s
                        : 4 + (r - g) / s
                : 0;
            return [
                60 * h < 0 ? 60 * h + 360 : 60 * h,
                100 * (s ? (l <= 0.5 ? s / (2 * l - s) : s / (2 - (2 * l - s))) : 0),
                (100 * (2 * l - s)) / 2,
            ];
        };

    function colorChange(c, index) {
        if(typeof(index)=="string"){
            index = parseInt(index.split("/")[0])
        }
        const rgb = hexToRgb(c)
        const hsl = rgbToHsl(rgb);
        const b_hsl =  `hsl(${hsl[0]}, ${Math.round(hsl[1])+12}%, ${Math.round(hsl[2])+12}%)`
        const bu_hsl = `hsl(${hsl[0]}, ${Math.round(hsl[1])+12}%, ${Math.round(hsl[2])+4}%)`
        const s_hsl =  `hsl(${hsl[0]}, ${Math.round(hsl[1])}%, ${Math.round(hsl[2])}%)`
        const input_hsl = `hsl(${hsl[0]}, ${Math.round(hsl[1])-30}%, ${Math.round(hsl[2])+8}%)`
        const inputb_hsl = `hsl(${hsl[0]}, ${Math.round(hsl[1])-45}%, ${Math.round(hsl[2])+10}%)`

        const div = document.getElementById(`section ${index}`)
        console.log(div)
                div.style.border = `2px solid ${s_hsl}`
                div.style.backgroundColor = b_hsl
                button = document.getElementsByName(`${index}`)[0]
                button.style.backgroundColor = bu_hsl
                var inputs = div.children
                for (const j of inputs) {
                        if (j.name && (j.name.length) > 1) {
                            j.style.backgroundColor = input_hsl
                            j.style.border = `2px solid ${inputb_hsl}`
                        }


                    }
         return [s_hsl, b_hsl, bu_hsl, input_hsl, inputb_hsl]
    }

</script>
{% endblock %}