{% extends "base.html" %}
{% block title %}Input Schedule{% endblock %}


{%  block content %}
<form method="post">
    <label for="class">Course code:</label><br>
    <input type="text" id="class" name="class"><br>
    <label for="prof">Professor:</label><br>
    <input type="text" id="prof" name="prof"><br>
    <div id="section-container">

    <h3>Section 1</h3>
     <label for="type">Choose the type:</label>
<select id="type" name="type">
  <option value="Lecture">Lecture</option>
  <option value="Lab">Lab</option>
  <option value="Tutorial">Tutorial</option>
  <option value="Other">Other</option>
</select><br>
    <label for="day">Day of the week:</label><br>
    <input type="date" id="day" name="day"><br>
    <label for="stime">Start time:</label><br>
    <input type="time" id="stime" name="stime"><br>
    <label for="etime">End time:</label><br>
    <input type="time" id="etime" name="etime"><br>
    <input type="checkbox" id="biweekly" name="biweekly" value="biweekly">
    <label for="biweekly"> Biweekly?</label><br>
    <input type="submit" value="Submit">
    </div>
<a href="javascript:;" id="add-new-section">Add another section</a>

</form>
<!-- code for adding row from: https://mattstauffer.com/blog/a-little-trick-for-grouping-fields-in-an-html-form/ -->
    <script>
let i = 2;
document.getElementById('add-new-section').onclick = function () {
    let template = `<h3>Section ${i}</h3>
     <label for="type">Choose the type:</label>
<select id="type" name="type">
  <option value="Lecture">Lecture</option>
  <option value="Lab">Lab</option>
  <option value="Tutorial">Tutorial</option>
  <option value="Other">Other</option>
</select><br>
    <label for="day">Day of the week:</label><br>
    <input type="date" id="day" name="day"><br>
    <label for="stime">Start time:</label><br>
    <input type="time" id="stime" name="stime"><br>
    <label for="etime">End time:</label><br>
    <input type="time" id="etime" name="etime"><br>
    <input type="checkbox" id="biweekly" name="biweekly" value="biweekly">
    <label for="biweekly"> Biweekly?</label><br>
    <input type="submit" value="Submit">`;

    let container = document.getElementById('section-container');
    let div = document.createElement('div');
    div.innerHTML = template;
    container.appendChild(div);

    i++;
}
    </script>
{% endblock %}