{% extends "base.html" %}

{% block title %}Input Schedule{% endblock %}
{% block css %}
label {font-size: large; color: black;}
div {text-align: center;}
input {
  width: 100%;
    background-color: #C5C5C5;
border-style:solid

}
input[type="checkbox"]{
    width: 5%;}
h5 {padding-top:  30px;
    text-align: center;}
input[type="button"]{
margin-bottom: 15px;
background-color: #a3dce3;
}
{% endblock %}


{%  block content %}
<form method="post">
    <label for="class">Course code</label><br>
    <input type="text" id="class" name="class"><br>
    <label for="prof">Professor</label><br>
    <input type="text" id="prof" name="prof"><br>
    <div id="section-container">
    </div>
    <input type="button" onclick=addSection() value="Add section">
    <input type="submit" value="Submit">

</form>

<!-- code for adding row from: https://mattstauffer.com/blog/a-little-trick-for-grouping-fields-in-an-html-form/ -->
<script>
    let i = 0;
function addSection () {
    let template = `<div id="section ${i}">
<h5>Section ${i+1}</h5> <input type="button" onclick=removeSection(this) value="Remove section" name="${i}"> <br>
     <label for="type">Choose the type:</label>
<select id="type" name="sections[${i}][type]">
  <option value="Lecture">Lecture</option>
  <option value="Lab">Lab</option>
  <option value="Tutorial">Tutorial</option>
  <option value="Other">Other</option>
</select><br>

    <label for="day">Day of the week:</label><br>
    <input type="date" id="day" name="sections[${i}][day]"><br>

    <label for="stime">Start time:</label><br>
    <input type="time" id="stime" name="sections[${i}][stime]"><br>

    <label for="etime">End time:</label><br>
    <input type="time" id="etime" name="sections[${i}][etime]"><br>

    <input type="checkbox" id="biweekly" name="sections[${i}][biweekly]" value="biweekly">
    <label for="biweekly"> Biweekly?</label><br></div>`;

    let container = document.getElementById('section-container');
    let div = document.createElement('div');
    div.innerHTML = template;
    container.appendChild(div);

    i++;
}

    addSection()

    function removeSection(k) {
    i--;
            let value = document.getElementById(`section ${k.name}`);
        value.remove();

    var divs = document.getElementsByTagName("div");
        var descendants;
        for (const div of divs) {
            if (div.id.includes("section") && div.id !== "section-container") {
                section_id = parseInt(div.id.split(" ")[1]);
                if(section_id >= i) {
                    descendants = div.children
                    for (const j of descendants) {
                        if (j.name && (j.name.length) > 1) {
                            var type = j.getAttribute("name").replace("]", "").split("[")[2];
                            j.setAttribute("name", `sections[${section_id - 1}][${type}]`)
                        }


                    }
                    var section = div.querySelector("h5");
                    if (section) {

                        section.innerText = `Section ${section_id}`;

                    }
                }
            }
        }

    }

</script>
{% endblock %}